@(resource: ckan.Resource)

<dl class="resource-definition">
  @if(resource.mimetype getOrElse "" startsWith "image/") {
    <a href="@resource.accessLink"><img class="resource-preview" src="@resource.accessLink" height="128" /></a>
  }
  <dt>Name:</dt>
    <dd>@resource.name</dd>
  <dt>Id:</dt>
    <dd>@resource.id</dd>
  <dt>URL:</dt>
    <dd><a href="@resource.accessLink">@resource.accessLink</a></dd>
  <dt>Mimetype:</dt>
    <dd>@resource.mimetype</dd>
  <dt>Size:</dt>
    <dd>@resource.size</dd>
  <dt>Created:</dt>
    <dd>@resource.created</dd>
  <dt>Modified:</dt>
    <dd>@resource.modified</dd>
</dl>
